
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,500&family=Oswald:wght@500&family=Sigmar&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-image: url(/imagenes/peak.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
   



nav {
    background-color: rgba(0, 0, 0, 0.7);  
}

.nav-link { color: white;}
.nav-link:hover {color:#5B0F00FF}

.nav-link.active {color: white;}
.active:hover {color:#5B0F00FF;}


.dropdown-menu  {
    background-color: rgba(0, 0, 0, 0.7)
}
.dropdown-menu li a {
    color: white;
}
.dropdown-menu li a:hover {
    color:#5B0F00FF;
    }

    
    .netflix img {
        height: 50px;
    }



    footer {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
       
      }
  
      
 .boton {
    align-items: center;
    height: 80vh;
 }
    
.foot {
    font-size: 15px;
}
     
.contenido {
    font-size: 11px;
}

.lista a {
    color:white;
}
.lista a:hover{
    color: #5B0F00FF;
}




@media (max-width: 574px) {
    body {
        background-image: url(/imagenes/peak3.png);
    }
}


@media (min-width: 575px) and (max-width:750px) {
    body {
        background-image: url(/imagenes/peak2.png);
    }
}

